%header
  %h2.text-2xl.font-bold.mb-8.text-center
    Peak Tracker Identity Provider

%main.flex.flex-col.items-center
  .mb-4
    = link_to "Peak Tracker", "https://peak-tracker.com/", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
